@import url("templet.css");

body {
  background-image: url("../Sources/main.jpg");
}

.submit {
  position: relative;
  margin-top: 10px;
  display: block;
  /* Ensure the button takes up the full width of its parent */
  margin-right: 50%;
  /* Center the button horizontally */
  width: 200px;
  height: 70px;
  font-size: xx-large;
  color: burlywood;
}

input {
  font-size: 20px;
  padding: 5px;
  border: 5px solid burlywood;
  border-radius: 30px;
  margin-bottom: -5px;
}

button {
  margin-top: 14px;
  bottom: 77px;
  margin-left: 50%;
  font-size: 20px;
  padding: 5px;
  border: 5px solid burlywood;
  border-radius: 30px;
  position: relative;
  display: block;
  /* Ensure the button takes up the full width of its parent */
  /* Center the button horizontally */
  width: 200px;
  height: 70px;
  font-size: xx-large;
  color: burlywood;
}