@import url("templet.css");

body {
  background-image: url("../Sources/main.jpg");
}

.submit {
  position: relative;
  margin-top: 10px;
  display: block;
  margin-right: 50%;
  width: 200px;
  height: 70px;
  font-size: xx-large;
  border: 5px solid #3699FF;
  background-color: #3699FF;
  color: #003e8b;
}

.title {
  color: #3699FF;
  margin: 0 auto;
  position: relative;
  top:10px;
}

input {
  font-size: 20px;
  padding: 5px;
  border: 5px solid #3699FF;
  border-radius: 30px;
  margin-bottom: -5px;
}

button {
  margin-top: 14px;
  bottom: 77px;
  margin-left: 50%;
  font-size: 20px;
  padding: 5px;
  border-radius: 30px;
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  font-size: xx-large;
  color: #003e8b;
  border: 5px solid #F64E60;

  background-color: #F64E60;
}

label {
  color: #3699FF;
}