@import url("templet.css");

body {
  background-image: url("../Sources/signup.jpg");
}

input {
  font-size: 24px;
  padding: 15px;
  border: 5px solid burlywood;
  border-radius: 30px;
  margin-bottom: 15px;
}

.submit {
  border: 5px solid burlywood;
  border-radius: 30px;
  font-size: xx-large;
  color: #003e8b;
  background-color: burlywood;
  font-weight: 900;
}