@import url("templet.css");

body {
  background-image: url("../Sources/signup.jpg");
}

input {
  font-size: 24px;
  padding: 15px;
  border: 5px solid #3699FF;  border-radius: 30px;
  margin-bottom: 15px;
}

.submit {
  border-radius: 30px;
  font-size: xx-large;
  color: #003e8b;
  font-weight: 900;
  border: 5px solid #3699FF;
  background-color: #3699FF;
}

.title {
  color: #3699FF;
  margin: 0 auto;
}
label{
    color: #3699FF; 
}