@import url("templet.css");

body {
  background-image: url("../Sources/main.jpg");
}


.submit {
  position: fixed;
  right: 0px;
  bottom: 0px;
  display: block;
  /* Ensure the button takes up the full width of its parent */
  margin: 0 auto;
  /* Center the button horizontally */
  width: 200px;
  height: 70px;
  font-size: xx-large;
  background-color: burlywood;
  color: #003e8b;
  font-weight: 900;
}

input {
  font-size: x-large;
  border: 5px solid burlywood;
  border-radius: 30px;
  margin-bottom: 15px;
  background-color: burlywood;
  color: darkred;
  font-weight: 900;
}

.add_btn {
  border: 5px solid burlywood;
  border-radius: 30px;
  font-size: xx-large;
  position: fixed;
  top: 10px;
  left: 10px;
  color: #003e8b;
  background-color: burlywood;
  font-weight: 900;
}

.edit_btn {
  width: 92px;
  border: 5px solid burlywood;
  border-radius: 30px;
  color: #003e8b;
  background-color: burlywood;
  font-size: x-large;
  margin-bottom: 5px;
  font-weight: 900;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-weight: 900;
}

th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  color: navajowhite;
  font-size: medium;
}

th {
  font-weight: 900;
  font-size: larger;
  color: rebeccapurple;
  background-color: #16adc8;
}