@import url("templet.css");

body {

  background-image: url("../Sources/signup.jpg");
}

.submit {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 70px;
  font-size: xx-large;
  color: #003e8b;
  border: 5px solid #3699FF;
  background-color: #3699FF;
}

.title {
  color: #3699FF;
  margin: 0 auto;
}

label {
  color: #3699FF;
}

input {
  font-size: 20px;
  padding: 5px;
  border: 5px solid #3699FF;
  border-radius: 30px;
  margin-bottom: 15px;
}