@import url("templet.css");

body {

  background-image: url("../Sources/signup.jpg");
}

.submit {
  display: block;
  /* Ensure the button takes up the full width of its parent */
  margin: 0 auto;
  /* Center the button horizontally */
  width: 200px;
  height: 70px;
  font-size: xx-large;
}

input {
  font-size: 20px;
  /* Set the desired font size */
  padding: 5px;
  /* Increase padding for larger input fields */
  border: 5px solid burlywood;
  /* Add a border to the input fields */
  border-radius: 30px;
  /* Add some border radius for rounded corners */
  margin-bottom: 15px;
  /* Adjust spacing between input fields */
}